.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

.card {
    font-family:'Poppins';
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px!important;
    border-radius: 16px 16px 16px 16px;
    -moz-border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    border: 0px solid #000000;
    -webkit-box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
}

.submit_btn{
    background-color: #265CFF ;
    color: white ;
}

.FullName {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

.firstName  {
    width: 45%;
}

.LastNAme  {
    width: 50%;
}


